
/* Color Palette 
#2B2D42 -- DARK BLUE
#8D99AE -- LIGHT BLUE
#EDF2F4 -- BLUE/WHITE
#EF233C -- RED
*/

/* Global styles
--------------------*/

@media only screen and (max-width: 576px){
  .jumb{
    color: #413a87;
  }

}*/
body {

  font-family: 'Open Sans', sans-serif;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
h2{
  font-family: 'Caveat', cursive;
}
h2 {
  font-size: 40px;
}
h1 {
  font-size: 80px;
}
h4{
  font-size: 19px;
}

/* Header and Footer styles
----------------------------*/

header, footer {
  background-color: #2B2D42;
  color:#8D99AE;
}



/* Education 
----------------------------*/
.education {
  background: #8D99AE;
}
.vertical-center{

	display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.jumb{
position:relative; 
height:500px;
}
.home-image{
	height: 400px;
}