
$color: #EDF2F4;


.work {
  background: $color;

}
.education {
  background: #8D99AE;
}

header{
  h1, h2 {
	  color:$color;
	  margin-top: 1px;
	  margin-bottom: 1px;
	}
}
.home{
  height:500px;
}
.jumb{
  	@extend .home;
	position:relative; 
	
}
.home-image{
	@extend .home;
}